/* fonts styling */
.win .jp {
  font-family: "Meiryo", "MS Mincho", "ＭＳ 明朝";
}
.mac .jp {
  font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro";
}
.linux .jp {
  font-family: "Kochi Mincho", "東風明朝";
}
.mobile .jp {
  font-family: "Hiragino Mincho ProN";
}

/* General card styling */

.card {
  font-family: UD Digi Kyokasho N-R;
  font-size: 30px;
  text-align: center;
  background-color: #fdf8e9;
  padding: 10px;
  background-color: #fdf8e9;
  padding: 10px;
}

.keyword:first-letter {
  text-transform: capitalize;
}

.kanji-kanji {
  display: inline-block;
  font-size: 40px;
}

.body-upper {
  color: #eee;
  line-height: 1;
  background-color: #555555;
  border-radius: 5px 5px 0px 0px;
}

.body-upper.recognition {
  font-family: Noto Sans JP Black;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.body-upper.recall {
  padding: 15px 0 15px 0;
}

.body-upper .hidden {
  background-color: #555555;
  color: #555555;
}
.body-upper .hidden:hover {
  text-align: left;
  font-size: 12px;
  color: #9fdbdb;
}

.body-lower .hidden {
  background-color: #9fdbdb;
  color: #9fdbdb;
}
.body-lower .hidden:hover {
  text-align: left;
  font-size: 15px;
  color: #555555;
}

.body-upper .hint {
  color: #aeaeae;
  font-size: 12px;
}
.body-lower .hint {
  font-size: 15px;
  /* background-color: white;
  color: #cecece; */
  vertical-align: center;
}

.body-lower {
  text-align: left;
  color: #555555;
  background-color: #9FDBDB;
  padding-top: 10px;
}

.meaning {
  text-align: center;
  font-family: Bree Serif;
  font-size: 18px;
  border: 1px solid #555555;
  padding: 5px;
  margin: 15px;
}

.diagram {
  display: block;
  margin: 0 auto;
  width: 130px;
}

/* Div Table */
.divTable {
  display: table;
  width: 100%;
}

.divTableRow {
  display: table-row;
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  text-align: left;
  display: table-cell;
  padding: 3px 10px;
  font-size: 18px;
}
.divTableCell .english:first-letter {
  text-transform: capitalize;
}

.divTableHeading {
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}

.divTableCell .english {
  color: GoldenRod;
}

/* mobile v.s desktop styling */
.win .vocab-mobile {
  display: none;
}
.mac .vocab-mobile {
  display: none;
}
.linux .vocab-mobile {
  display: none;
}
.ipad .vocab-mobile {
  display: none;
}

.mobile .vocab-desktop {
  display: none;
}
.iphone .vocab-desktop {
  display: none;
}
.ipod .vocab-desktop {
  display: none;
}
.android .vocab-desktop {
  display: none;
}

/* Hints*/
.mobile .divTableCell.hint-vocab {
  display: none;
}
.iphone .divTableCell.hint-vocab {
  display: none;
}
.ipod .divTableCell.hint-vocab {
  display: none;
}
.android .divTableCell.hint-vocab {
  display: none;
}

/* Has to be there, else is Android acting stupid ... */
.android .vocab-mobile {
  display: table !important;
}
.mac .vocab-desktop {
  display: table !important;
}
.ipad .vocab-desktop {
  display: table !important;
}

.smallfont {
  font-size: 12px;
}
